{config_load file="$language/lang_$language.conf" section="account_password"}
<!-- Header -->
<h1>{#heading_password#}</h1>
<!-- /Header -->
{if $error!=''}
{$error}
{/if}
{$FORM_ACTION}
<!-- Rounded corners -->
<div class="page">
<b class="b1"></b><b class="b2"></b><b class="b3"></b><b class="b4"></b>
<!-- Page content -->
<div class="pagecontent">
<span class="Requirement">{#text_must#}</span>
<br />
<br />
<!-- Form -->
<fieldset class="form">
<legend>{#heading_password#}</legend>
<p><label for="password_current" title="{$ENTRY_PASSWORD_CURRENT_ERROR}">{#text_actual#}</label> {$INPUT_ACTUAL}</p>
<p><label for="password_new" title="{$ENTRY_PASSWORD_NEW_ERROR}">{#text_new#}</label> {$INPUT_NEW}</p>
<p><label for="password_confirmation" title="{$ENTRY_PASSWORD_ERROR_NOT_MATCHING}">{#text_confirm#}</label> {$INPUT_CONFIRM}</p>
</fieldset>
<!-- /Form -->
</div>
<!-- /Page content -->
<b class="b4b"></b><b class="b3b"></b><b class="b2b"></b><b class="b1b"></b>
<!-- /Rounded corners -->
<div class="pagecontentfooter">
{$BUTTON_BACK}&nbsp;{$BUTTON_SUBMIT}
</div>
</div>
{$FORM_END}
<p></p>