<!-- Page header -->
<h1>{$CONTACT_HEADING}</h1>
<!-- /Page header -->
{if $error_message!=''}
<div class="contacterror">{$error_message}</div>
{/if}
{if $success!='1'}
{$FORM_ACTION}
<!-- Rounded corners -->
<div class="page">
<b class="b1"></b><b class="b2"></b><b class="b3"></b><b class="b4"></b>
<!-- Rounded corners -->
<div class="pagecontent">
{$CONTACT_CONTENT}
<br />
<br />
<!-- form -->
<fieldset class="form">
<legend>{$CONTACT_HEADING}</legend>
	<p>[[Your name:]] {$INPUT_NAME}</p>
	<p>[[Your e-mail:]] {$INPUT_EMAIL}</p>
	<p>[[Your message:]] {$INPUT_TEXT}</p>
</fieldset>
<!-- /form -->
</div>
<!-- /Cart content -->
<b class="b4b"></b><b class="b3b"></b><b class="b2b"></b><b class="b1b"></b>
<!-- /Rounded corners -->
<div class="pagecontentfooter">
{$BUTTON_SUBMIT}
</div>
</div>
{$FORM_END}
{else}
<!-- Rounded corners -->
<div class="page">
<b class="b1"></b><b class="b2"></b><b class="b3"></b><b class="b4"></b>
<!-- Cart content -->
<div class="pagecontent">
[[Your enquiry has been submitted sucessfully.]]
</div>
<!-- /Cart content -->
<b class="b4b"></b><b class="b3b"></b><b class="b2b"></b><b class="b1b"></b>
<!-- /Rounded corners -->
<div class="pagecontentfooter">
{$BUTTON_CONTINUE}
</div>
</div>
{/if}
<p></p>