<!-- Page header -->
<h1>{$CONTENT_HEADING}</h1>
<!-- /Page header -->
<!-- Rounded corners -->
<div class="page">
<b class="b1"></b><b class="b2"></b><b class="b3"></b><b class="b4"></b>
<!-- Page content -->
<div class="pagecontent">
{if $file}
  {$file}
{else}
<p>
  {$CONTENT_BODY}
</p>
{/if}
</div>
<!-- /Page content -->
<b class="b4b"></b><b class="b3b"></b><b class="b2b"></b><b class="b1b"></b>
<!-- /Rounded corners -->
<div class="pagecontentfooter">
{$BUTTON_CONTINUE}
</div>
</div>
<p></p>