<!-- Product-->
<div>
  <div class="card product-card card-static">
    <button class="btn-wishlist btn-sm" type="button" data-bs-toggle="tooltip" data-bs-placement="left" title="Add to wishlist"><i class="far fa-heart"></i></button><a class="card-img-top d-block overflow-hidden" href="#"><img src="{$tpl_path}dist/img/shop/catalog/14.jpg" alt="Product"></a>
    <div class="card-body py-2"><a class="product-meta d-block fs-xs pb-1" href="#">Men’s Jeans</a>
      <h3 class="product-title fs-sm"><a href="#">Slim Taper Fit Jeans</a></h3>
      <div class="d-flex justify-content-between">
        <div class="product-price"><span class="text-accent">$58.<small>99</small></span></div>
        <div class="star-rating"><i class="star-rating-icon fas fa-star active"></i><i class="star-rating-icon fas fa-star active"></i><i class="star-rating-icon fas fa-star active"></i><i class="star-rating-icon fas fa-star active"></i><i class="star-rating-icon fas fa-star"></i>
        </div>
      </div>
    </div>
  </div>
</div>
